# Database
NEON_DATABASE_URL=

# Band Orchestrator Agent
THENVOI_REST_URL=https://app.band.ai/
THENVOI_WS_URL=wss://app.band.ai/api/v1/socket/websocket
BAND_AGENT_ID=
BAND_API_KEY=
BAND_ROOM_ID=
SATELLITE_AGENT_ID=

# AI/ML API
ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=https://api.aimlapi.com/v1
AIML_API_KEY=

# Featherless
FEATHERLESS_API_KEY=

# R2 Public
CLOUDFLARE_R2_PUBLIC=https://pub-720f47eaad2f4997a76a02f8bf14f58a.r2.dev

# App
PORT=8000
DEBUG=True
