AIML_API_KEY=
FEATHERLESS_API_KEY=
NEON_DATABASE_URL=

# Band SDK
THENVOI_REST_URL=https://app.band.ai/
THENVOI_WS_URL=wss://app.band.ai/api/v1/socket/websocket
BAND_AGENT_ID=
BAND_API_KEY=
ANTHROPIC_API_KEY=
