THENVOI_REST_URL=https://app.band.ai/
THENVOI_WS_URL=wss://app.band.ai/api/v1/socket/websocket
BAND_AGENT_ID=783f0c33-9dba-43e9-83e6-197a59d76f8f
BAND_API_KEY=

ANTHROPIC_API_KEY=3ee2a731c10e3eec1352ebdaeb58d65a
ANTHROPIC_BASE_URL=https://api.aimlapi.com/v1
AIML_API_KEY=3ee2a731c10e3eec1352ebdaeb58d65a

FEATHERLESS_API_KEY=rc_883c4333cb5da1cd0378e9710d5c4c9f150972121ec90b10c7fedb5e990c80d3

NEON_DATABASE_URL=postgresql://neondb_owner:npg_5T2wDeFopSBY@ep-lingering-hat-atamspl7.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require

CLOUDFLARE_R2_PUBLIC=https://pub-720f47eaad2f4997a76a02f8bf14f58a.r2.dev

GDACS_API=https://www.gdacs.org/gdacsapi/api
USGS_API=https://earthquake.usgs.gov/fdsnws/event/1
